/* Global styling */
.container {
  margin: auto;
  font-family: Helvetica;
}

header, section {
  text-align: center;
  margin: auto
}

header, #banner {
  background-image: url("/Users/anulendukwu/Documents/projects/broadway/resources/img/the-flatiron-building.png");
  background-repeat: no-repeat;
}

h1, #banner, a, footer {
  color: white;
}

a {
  font-size: 18px;
}

/* Header styling */
h1 {
  font-size: 70px;
  font-weight: bold;
}

header li {
  list-style-type: none;
  padding-top: .75em;
}

/* Main Content styling */
h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.process p, .info p {
  font-size: 14px;
}

/* Footer styling */
footer {
  text-align: left;
  background-color: dimgray;
}

#copyright {
  font-size: 11px;
}
